.share {
  bottom: calc(24px + 48px + 10px + env(safe-area-inset-bottom));
  right: calc(24px + env(safe-area-inset-right));
}

@media (max-width: 600px) {
  .share {
    bottom: calc(20px + 48px + 10px + env(safe-area-inset-bottom));
    right: calc(20px + env(safe-area-inset-right));
  }
}
